@{
    ViewData["title"] = "products";
}

<h2>products</h2>
<table class="table">
    <thead>
        <tr>
            <th>product id</th>
            <th>name</th>
            <th>stock</th>
            <th>price</th>
            <th>image</th>
            <th>description</th>
        </tr>
    </thead>
    <div class="form-group">
        <label for="imageurl">image url</label>
        <input type="text" class="form-control" id="imageurl" name="imageurl" required />
    </div>
    <div class="form-group">
        <label for="description">description</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
    </div>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.id</td>
                <td>@product.name</td>
                <td>@product.stock</td>
                <td>@product.price</td>
                <td><img src="@product.imageurl" alt="@product.name" style="width: 100px; height: auto;" /></td>
                <td>@product.description</td>
                <td>

            </tr>
        }
    </tbody>
</table>